nav {
        background-color: #00007a;
        width: 100%; 
        z-index: -1;
        position: absolute;
        left: 0px;
        top: 250px;
        margin: 0px;
        padding: 0px;
}
nav ul{
        display: flex;
        list-style-type: none;
}
nav li {
        color: #ffffff;
        margin: 0px;
}
nav a{
        color: #ffffff;
        font-family: 'Aubrey';
        font-size: 30px;
        text-transform: uppercase;
        margin: 0px 1px;
        padding: 12px 2px;
        border-style: solid;
        border-color: #6f4e1d;
        border-width: 0px 2px;  
        text-decoration: none;     
}
nav a:hover {
    background-color: #ffff00;
    color: #6f4e1d;
}